<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="main">
      <h1>logbook</h1>
      <!-- Edit/Create post -->
      <div id="form">
        <script id="post-tpl-form" type="text/x-handlebars-template">
          <a href="#posts"><- Back</a>  
          <div class="post" data-id={{id}}>
            <form name="edit">
              <p>Title <input name="title" value="{{title}}" /></p>
              <p>Content <textarea name="content">{{content}}</textarea></p>
              <button>Save</button>
            </form>
          </div>
          <ul id="input-errors"></ul>
        </script>
      </div>

      <!-- Display single post -->
      <div id="single">
        <div id="post">
          <script id="post-tpl-single" type="text/x-handlebars-template">
            <a href="#posts"><- Back</a>
            <div class="post" data-id={{id}}>
              <p class="post-title">{{title}}</p>
              <p class="post-content">
                {{content}}
              </p>
              <p class="post-created">Created: {{#niceDate createdAt}}{{/niceDate}}</p>
              {{#notequal createdAt updatedAt}}
                <p class="post-modified">
                <span style="color: red;">Edited</span>: 
                  {{#niceDate updatedAt}}{{/niceDate}}
                </p>  
              {{/notequal}}

              <a href="#posts/{{id}}/edit">edit</a>
              <a href="" class="delete">delete</a>
            </div>
          </script>
        </div>
      </div>

      <!-- Display all posts -->
      <div id="posts">
        <script id="post-tpl-list" type="text/x-handlebars-template">
          <a href="#posts/new">New Post</a>
          {{#each items}}
            <div class="post" data-id={{id}}>
              <a href="#posts/{{id}}" class="post-title">{{ title }}</a>
              <p class="post-content">
                {{ content }}
              </p>
              <p class="post-created">Created: {{#niceDate createdAt}}{{/niceDate}}</p>
              {{#notequal createdAt updatedAt}}
                <p class="post-modified">
                <span style="color: red;">Edited</span>: 
                  {{#niceDate updatedAt}}{{/niceDate}}
                </p>  
              {{/notequal}}
              <a href="#posts/{{id}}/edit">edit</a>
              <a href="" class="delete">delete</a>
            </div>
          {{/each}}
        </script>
      </div>
    </div>
  
    <script src="/javascripts/jquery-1.11.0.js"></script>
    <script src="/javascripts/handlebars-v1.3.0.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/backbone.js"></script>
    <script src="/javascripts/post.js"></script>
  </body>
</html>
