body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#posts {max-width: 400px;}
.post { 
  padding: 10px; 
  background: #eee;
  margin-top: 10px;
}

.post-created,.post-modified{color: gray; font-size: 0.75em;}

#input-errors
{
  color: red;
}